.AddressForm-label {
  margin-top: 10px;
}

.AddressForm-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px !important;
}

.AddressForm-button {
  text-decoration: none;
}
